.ProjectSection {
  margin-left: 0;
  text-align: center;
  background-color: none;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 500ms; 
  position: relative;
}

.ProjectSection h1 {
  margin-top: 150px;
  font-size: calc(2vw + 30px);
}

.ProjectSection.mobile{
  margin-left: 0px;
}

.ExperienceCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.ExperienceCard {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7); 
  border-color: white;
  border-width: 2px;
  border-style: solid;
  flex-direction: row;
  padding: 10px;  
  margin: 10px; 
  max-width: 400px;
  min-height: 350px;
}

.ExperienceCard h2 {
  padding-top: 10px;
  margin: 5px;
  font-size: 30px;
}

.ExperienceCard ul {
  text-align: left;
  font-size: 20px;
  padding: 5px;
  list-style: none;
  list-style-position: inside;
}

.ExperienceCard li {
  margin-top: 10px;
}

.ExperienceCard a {
  text-decoration: none;
  color: #f7ba37;
  font-weight: bold;
}

.ExperienceCard a:hover {
  opacity: 0.7;
}