.Timeline {
  display: flex;
  flex-direction: row;
  margin-left: 0;
}

.TimelinePage{
  align-items: center;
  align-self: center;
  background-size: contain;
  background-repeat: no-repeat; 
}

.TimelinePage h1 {
  font-size: calc(2vw + 30px);
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
}

.TimelineSide {
  align-items: center;
  z-index: 1;
  display: flex;
  padding-left: 3.75%;
  padding-right: 3.75%;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.EntryRight:before {
  content: '';
  display: block;
  background: white;
  height: 5px;
  width: 9.5%;
  position: absolute;
  right: 100%;
  bottom: 50%;
}

.Bar {
  position:relative;
  display:inline-block;
  min-width: 6px;
  background: white;
  height: auto;
  position: static;
  top: 0px;
  z-index: 5;
}

.EntryRight h3 {
  font-size: calc(0.75vw + 15px);;
  margin: 1px;
  padding-top: calc(1px + 1vw);
}
.EntryRight h4 {
  margin: 1px;
  font-size: calc(0.75vw + 12px);
}

.EntryRight li {
  text-align: left;
  list-style: none;
  display: inline-block;
  margin-bottom: calc(1vw + 5px);
  font-size: calc(0.75vw + 10px);
}

.EntryLeft li {
  text-align: left;
  list-style: none;
  display: inline-block;
  margin-bottom: calc(1vw + 5px);
  font-size: calc(0.75vw + 10px);
}


.EntryLeft ul {
  text-align: left;
  list-style: none;
  display: inline-block;
  padding:calc(1px + 1vw) 0 0 0;
  margin: calc(4px + 1vw); 
  font-size: calc(0.75vw + 10px);
}

.EntryRight ul {
  text-align: left;
  list-style: none;
  display: inline-block;
  padding:calc(1px + 1vw) 0 0 0;
  margin: calc(4px + 1vw); 
  font-size: calc(0.75vw + 10px);
}

.EntryLeft {
  width: 100%;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  color: white;
  font-size: 11px;
  text-align: center;
  position: relative;
  margin-bottom: 30vh;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7); 
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.EntryRight {
  font-size: 11px;
  width: 100%;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  color: white;
  text-align: center;
  position: relative;
  margin-top: 50vh;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7); 
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.EntryLeft:before {
  content: '';
  display: block;
  background: white;
  height: 5px;
  width: 9.5%;
  position: absolute;
  left: 100%;
  bottom: 50%;
  margin-right: 10px;
}

.EntryLeft h3 {
  font-size: calc(0.75vw + 15px);
  margin: 1px;
  padding-top: calc(1px + 1vw);
}
.EntryLeft h4 {
  margin: 1px;
  font-size: calc(0.75vw + 12px);
}

.EntryLeftLast {
  margin-bottom: 0px;
}