.SideBar {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: calc(18vw);
  min-width: 200px;
  z-index: 3;
  vertical-align: top;
  color: white;
}

h2 { 
  font-size: calc(20px + 2vmin); 
}

.SideBar.mobile{
  left: calc(-18vw - 35px);
}

.SideBar-Nav{
	list-style-type: none;
}

.SideBar-Nav a {
  padding-top: 5px;
  text-decoration: none;
  font-size: calc(10px + 2vmin); 
  /*come back to this color for link text*/
  color: white;
  display: block;
}
.SideBar-Nav a:hover {
  opacity: 0.7;
}

.SideBar-Img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  transition: all .5s ease-in-out;
}

@media screen and (max-width: 800px) {
  .SideBar {
    display: none;
  }
}