.Header {
  background-color: none;
  align-items: center;
  transition: all 500ms; 
  position: relative;
  padding: 2%;
}

.Header.mobile{
  margin-left: 0px;
}

.Header-content {
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.Header-content h1 {
  font-size: calc(2vw + 30px);
  padding-top: 35vh;
  text-align: center;
}

.Header-content p {
  margin: 1vh;
  max-width: 1000px;
}

.Header-Img {
  position: absolute;
  top:0;
  right:0;
  padding-top:0px;
  height: auto;
  width: min(100%, 1000px);
  overflow: hidden;
  z-index: -1;
}

.Header a {
  text-decoration: none;
  color: #f7ba37;
  font-weight: bold;
}

.Header a:hover {
  opacity: 0.7;
}