  h1 {
    text-align: center; 
    padding-top: 30px;
    font-size: calc(2vw + 30px);
  }

  h3 {
    font-weight: normal;
    color: white;
    text-align: center; 
  }

  .ArtPage {
    min-width: 1000px;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .GameText{
    font-size: calc(0.1vw + 30px);
  }

  .SubmitButton{
    font-size: calc(0.1vw + 30px);
    background-color: rgba(0, 0, 0, 0.4); 
    border: 0mm;
    color: #f7ba37;
    font-weight: bold;
  }

  .SubmitButton:active{
    font-size: calc(0.1vw + 30px);
    background-color: rgba(0, 0, 0, 0.4); 
    opacity: 40%;
    border: 0mm;
    color: #f7ba37;
    font-weight: bold;
  }

  .ArtDisplay {
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
    display: relative;
    animation: fadeIn 1s;
  	opacity: 1;
  }

  .ArtSection {
    padding: 10px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  .ArtSection p {
    max-width: 1000px;
  }

  .square-label {
    color: white;
    width: var(--square-size);
    height: var(--square-size);
    margin-right: 0px;
    margin-top: -10px;
    border-color: black;
    border-width: 2px;
    text-align: center;
    font-size: var(--font-size);
    display: inline-block;
    margin: 0 auto;
    font-weight: bold;
    float: left;
    padding-top: -20px;
    justify-content: space-evenly;
    background-color: black;
    opacity: 40%;
  }

  .square {
    color: black;
    width: var(--square-size);
    height: var(--square-size);
    margin-right: 0px;
    margin-top: -10px;
    border-color: grey;
    border-width: 2px;
    text-align: center;
    font-size: var(--font-size);
    display: inline-block;
    margin: 0 auto;
    font-weight: bold;
    float: left;
    padding-top: -20px;
    justify-content: space-evenly;
    background-color: white;
  }

  .filled-in-square {
    color: black;
    width: var(--square-size);
    height: var(--square-size);
    margin-right: 0px;
    margin-top: -10px;
    border-color: gray ;
    border-width: 2px;
    text-align: center;
    font-size: var(--font-size);
    display: inline-block;
    margin: 0 auto;
    font-weight: bold;
    float: left;
    padding-top: -20px;
    justify-content: space-evenly;
    background-color: black;
  }

  .board-row {
    color: white;
    min-height: var(--square-size);
    margin: 0px;
    padding: 0px;
  }

  .art-image {
    width: var(--image-width);
    height: var(--image-height);
  }

/*reference code found here https://newbedev.com/div-fade-in-fade-out-css-code-example*/
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  p {
    margin: 10px;
    color: white;
  }

  h1 {
    margin: 10px;
    color: white;
  }

  .Footer-Img-Blog {
    position: fixed;
    padding-top:0%;
    bottom: 0;
    left:0; 
    z-index: -1;
    }

  .Header-Img-Blog {
    position: fixed;
    top:0;
    right:0;
    max-height: 30vw;
    z-index: -1;
  }

  .AttributionText p {
    color: lightgrey;
  }

  .AttributionText a {
    text-decoration: none;
    color: #f7ba37;
    font-weight: bold;
  }
  
  .AttributionText a:hover {
    opacity: 0.7;
  }