body {
  background-color: black;
  margin: 0;
  font-family: Menlo, Monaco, 'Courier New', monospace;  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 350px;
  position: relative;
}

code {
  font-family: Menlo, Monaco, 'Courier New', monospace;
}

html {
  scroll-behavior: smooth;
}

/* font-family: "Lucida Console", "Courier New", monospace; */
