.Footer-Img {
position: absolute;
bottom: 0;
left:0;
width: min(1000px, 100%);
z-index: -1;
color:white;
}

.Footer {
font-size: calc(1vw + 40px);
text-align: center;
max-width: 100%;
padding-bottom: 4vh;
position: relative;
transition: all 500ms; 
align-items: center;
}

.Footer.mobile{
    margin-left: 0px;
}


.Footer-Link:hover {
    opacity: 0.7;
  }
  
.Footer-Link{
    color: white;
    margin: 3%;
    text-decoration: none;
    z-index: 0;
}
